body {
    font-family: 'Lucida Sans Unicode';
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
  }
  
  table {
    margin: 0 auto;
    border-spacing: 0px 0px;
  }
  
  .button {
    background-color: #303030;
    color: #50C8FF;
   
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }
  
  .button:hover {
    background-color: #50C8FF;
    color: #303030;
    transition: background-color 0.5s, color 0.5s;
  }
  
  .cell {
    
    height: 4.219vw;
    width: 4.219vw;
    // background-color: #1990ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    @media (max-width: 1440px) { 
      height: 2.8vw;
      width: 2.8vw;
    }

    @media (max-width: 1024px) { 
      height: 6vw;
      width: 6vw;
    }

    @media (max-width: 414px) { 
    box-sizing: border-box;  
    height: 6.2vw;
    width: 6.2vw;

    }
    div {
      // border: 2px solid #fff;

      span {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: block;
        border: 5px solid green;
      }
    }
  }
  
  .circle {
    height: 15px;
    width: 15px;
    border: 1px solid #000;
    border-radius: 100px;
  }
  
  .circles {
    margin: -40px 0 25px 0;
    display: flex;
    justify-content: center;
  }
  
  .red-sm {
    background-color: red;
  }
  
  .yellow-sm {
    background-color: yellow;
  }
  
  .message {
    text-align: center;
    font-size: calc(10px + 0.4vw);

    .congo {
      font-family: PoppinsMedium;
      color: #FF6600;
      font-size: calc(17px + 1.3vw);
      line-height: calc(17px + 2.4vw);
      margin-top: 10px;
      display: block;
      @media (max-width: 1680px) { 
        font-size: calc(12px + 1.3vw);
        line-height: calc(12px + 2.4vw);
      }
      @media (max-width: 1440px) { 
        font-size: calc(8px + 1vw);
        line-height: calc(8px + 2vw);
      }

    

      @media (max-width: 1024px) { 
        margin-top: 5px;
        display: block;
        font-size: calc(13px + 1vw);
        line-height: calc(13px + 2vw);
        
      }

      @media (max-width: 414px) { 

        margin-top: 0;
      }




    }
    // span {
    //   text-align: center;
    //   display: block;
    //   letter-spacing: 0px;
    //   color: #FF6600;
    //   opacity: 1;
    //   font-family: PoppinsMedium;
    //   font-size: 42px;
    //   line-height: 63px;

    // }

    // .playing {

    // }

    p {
      margin: 0;
      text-align: center;
      letter-spacing: 0px;
      color: #505351;
      opacity: 1;
      font-size: calc(12px + .6vw);
     line-height: calc(14px + 1.1vw);
      font-family: PoppinsRegular;
      margin-top: 8px;
      margin-bottom: 20px;
      font-size: calc(9px + .6vw);
      line-height: calc(10px + 1.1vw);

      @media (max-width: 1440px) { 
        font-size: calc(6px + .6vw);
        line-height: calc(6px + 1.1vw);
      }

      @media (max-width: 1024px) { 
        margin-top: 5px;
        font-size: calc(10px + .6vw);
        line-height: calc(12px + 1.1vw);   
      }

      @media (max-width: 414px) { 
        margin-bottom: 15px;
      }

    }

    .button {
      padding: 2% 4%;
      margin-top: 3%;    
      margin-bottom: 3%; 
      width: 40%;
      background: #4B7BFF;
      color: white;
      @media (max-width: 1024px) { 
        padding: 1% 4%;
        font-size: calc(8px + 1.3vw);
        line-height: calc(8px + 2.4vw);
      }

      @media (max-width: 414px) { 
        // width: 40%;
        margin-bottom: 10px;
      }
    }
  }
  
  .white {
    height: 100%;
    width: 100%;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: inset 2px 2px 3px #707070;

    //  @media (max-width: 1680px) { 
    //     height: 60px;
    //     width: 58px;
    //   }
      
    //   @media (max-width: 1440px) { 
    //     height: 38px;
    //     width: 38px;
    //   }

      @media (max-width: 414px) { 
        box-shadow: inset 1px 1px 2px #707070;
      }

  }
  
  .black {
    display: none;
    background: #84a4fc 0 0 no-repeat padding-box;
  }

  .red {
    height: 2.9vw;
    width: 2.9vw;
    background-color: #DCF6E4;
    border-radius: 50%;
    transition: background-color 0.5s;
    position: relative;
    border: .6vw solid #37AC5D;

    @media (max-width: 1440px) {       
      height: 59%;
      width: 100%;
      border: .6vw solid #37AC5D;
    }

    @media (max-width: 1024px) {       
      height: 71%;
      width: 100%;
      border: .8vw solid #37AC5D;
    }

    img {      
      height: 2.4vw;
      width: 1.9vw;
  
      position: absolute;
      left: 0.5vw;
      top: 0.4vw;

      @media (max-width: 1440px) {       
        height: 1.2vw;
        width: 1.1vw;
        left: .3vw;
        top: .3vw;
      }
      @media (max-width: 1024px) {       
        height: 3vw;
        width: 2.5vw;
        left: 0.9vw;
        top: 1vw;
      }

      @media (max-width: 414px) {       
        height: 3vw;
        width: 2.5vw;
        left: 0.7vw;
        top: 0.6vw;
    
      }

      @media (max-width: 375px) {       
        left: 0.6vw;
        top: 0.5vw;
      }       
    }
  }
  
  .yellow {
    height: 70%;
    width: 100%;
    background-color: #F6EFD5;
    border-radius: 50%;
    transition: background-color 0.5s;
    position: relative;
    border: .6vw solid #F8D146;

    @media (max-width: 1440px) {       
      height: 59%;
      width: 100%;
      border: .6vw solid #F8D146;
    }
    @media (max-width: 1024px) {       
      height: 70%;
      width: 100%;
      border: .8vw solid #F8D146;
    }

    img {
      height: 2vw;
      width: 2vw;
      position: absolute;
      left: .5vw;
      top: .9vw;

      @media (max-width: 1440px) {       
        height: 1.2vw;
        width: 1.1vw;
        
        left: .3vw;
        top: .3vw;
      }
      @media (max-width: 1024px) {       
        height: 3vw;
        width: 3vw;
        position: absolute;
        left: .6vw;
        top: 1vw;
      }
      @media (max-width: 414px) {       
        height: 3vw;
        width: 2.5vw;        
        left: .7vw;
        top: .7vw;
      }
    }
  }

  .new-game-container {
    // box-sizing: border-box;
    width:  67.65%;
    display: flex;
    margin: 0 auto;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
    opacity: 1;

    @media (max-width: 1440px) {       
      width:  58%;
      border-radius: 20px;

    }

    @media (max-width: 1024px) {  
      border-radius: 30px;
     
      width: 80%;
      flex-direction: column;
    }

    @media (max-width: 414px) {           
      width: 85%;
    }

    .new-game {
      // width: 58.5%;
      width: 65.216%;
      box-sizing: border-box;
      padding: 10px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #F7F7F7;
      border-radius: 30px;
      opacity: 1;
      padding-top: 1.4%;
      padding-bottom: 1.4%;
      // margin-bottom: 2%;
      @media (max-width: 1440px) { 
        border-radius: 20px;

        width: 58%;
        padding: 10px;
        padding-right: 15px;
      }

      @media (max-width: 1024px) { 
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0;
        border-radius: 30px;

        border-bottom-left-radius: initial;
        border-bottom-right-radius: initial;
              // margin-bottom: 30px;
        background: unset;
        box-shadow: unset;
      }

      @media (max-width: 414px) { 
        padding-top: 0;
        padding-bottom: 2%;
      }

      ul {
        // margin: 0
        padding: 10px;
        // width: 95.4%;
        // background: #84A4FC 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000040;
        border: 2px solid #FFFFFF;
        opacity: 1;        
        display: flex;
        flex-direction: column;
        background: #84A4FC;
        border-radius: 45px;
        padding: 0;
        width: 96.312%;
        margin: 0 auto;
        padding-left: 1%;
        padding-top: 1%;                

        @media (max-width: 1440px) {
          // box-sizing: border-box; 
          padding-left: 2.5%;
          padding-top: 2.5%;
          padding-right: 1.5%;
          padding-bottom: 1%;
        }
        
        @media (max-width: 1024px) { 
          box-sizing: initial; 
          width: 92.312%;
          border-radius: 20px;
          margin-top: 10px;

        }

        @media (max-width: 414px) { 
          width: 96.312%;
          border: 1px solid #FFFFFF;
        }

        li {
          display: flex;          
          list-style: none;
          // width: 80px;
          // height: 80px;          
          margin-bottom: 1.8%;

          &:last-child {
            margin-bottom: 2%;
          }

          @media (max-width: 1440px) { 
            // margin-bottom: 20px;
            margin-bottom: 3.8%;
          }

          @media (max-width: 414px) { 
            // margin-bottom: 10px;
            margin-bottom: 1.8%;

            // margin-left: 8px;
            // margin-bottom: 8px;
          }

          .cell {
            margin-right: 1.8%;
            border: 2px solid #fff;
            border-radius: 50%;
            box-shadow: inset 2px 2px 3px #707070; 
            
            @media (max-width: 1440px) { 
              margin-right: 2.5%;
            }

            @media (max-width: 1024px) { 
              margin-right: 3.8%;
            }

            @media (max-width: 414px) { 
              border: 1px solid #fff;
              margin-right: 4.8%;
            }

            &:last-child {
              margin-right: 1%;

              @media (max-width: 414px) { 
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .game-detail {     
      width: 30.8%;
      margin: 0 auto;
      
      @media (max-width: 1440px) { 
        width: 34.8%;
      }

      @media (max-width: 1024px) { 
        width: 80%;
      }

      h2 {
        margin: 0;
        padding-top: 4%;
        font-family: PoppinsMedium;
        text-align: center;
        font: Medium 36px/55px PoppinsMedium;
        letter-spacing: 0px;
        color: #424242;
        opacity: 1;
        font-size: calc(16px + 1vw);

        @media (max-width: 1815px) { 
          font-size: calc(14px + 1vw);
        }

        @media (max-width: 1680px) { 
          font-size: calc(12px + 1vw);
          padding-top: 6%;
        }

        @media (max-width: 1440px) { 
          font-size: calc(10px + 1vw);          
        }
        @media (max-width: 1440px) { 
          font-size: calc(8px + .8vw);
        }
        
        @media (max-width: 1024px) { 
          padding-top: 0;
          font-size: calc(23px + 1vw);
        }
        @media (max-width: 480px) { 
          font-size: calc(15px + 1vw);
        }

        @media (max-width: 414px) { 
          font-size: calc(12px + 1vw);
          padding-top: 0;
        }
      }

       .playing {
        margin-bottom: 28px;
        display: block;
        text-align: center;
        letter-spacing: 0px;
        color: #505351;
        opacity: 1;   
        font-family: PoppinsRegular;   
        font-size: calc(14px + .5vw); 
        line-height: calc(14px + 1.1vw);

        @media (max-width: 1440px) { 

        font-size: calc(11px + .5vw);
         line-height: calc(11px + 1.1vw);
        }
        @media (max-width: 1024px) { 
          margin-bottom: 4%;
          margin-top: 5px;
          font-size: calc(16px + .5vw); 
          line-height: calc(16px + 1.1vw);
        }

          @media (max-width: 414px) { 
            margin-bottom: 4%;
            margin-top: 5px;
            font-size: calc(10px + .5vw); 
            line-height: calc(10px + 1.1vw);
          }
       }

       .player-game {
        display: flex;
        flex-direction: column;
        margin-right: 21%;

        @media (max-width: 1440px) {           
          margin-right: 16%;
        }
        
        @media (max-width: 1280px) {           
          margin-right: 13%;
        }

        span {
          &:first-child {
            text-align: left;
            // font: Regular 18px/27px Poppins;
            letter-spacing: 0px;
            color: #424242;
            opacity: 0.56;
            font-family: PoppinsRegular;
            font-size: calc(10px + .4vw);
            line-height: calc(10px + .9vw);

            // @media (max-width: 1440px) { 
            //   font-size: calc(6px + .4vw);
            //   line-height: calc(6px + .9vw);
            // }

            @media (max-width: 1024px) { 
              font-size: calc(14px + .4vw);
              line-height: calc(14px + .9vw);
            }
            @media (max-width: 590px) { 
              font-size: calc(10px + .4vw);
              line-height: calc(10px + .9vw);
            }
            @media (max-width: 414px) { 
              font-size: calc(9px + .4vw);
              line-height: calc(9px + .9vw);
            }

            @media (max-width: 360px) { 
              font-size: calc(7px + .4vw);
              line-height: calc(7px + .9vw);
            }
          }

          &:nth-child(2) {
            margin-top: 10px;
            text-align: left;
            // font: Regular 1px/42px Poppins;
            letter-spacing: 0px;
            color: #424242;
            opacity: 1;
            font-family: PoppinsRegular;
            font-size: calc(11px + 0.9vw);    
            line-height: calc(11px + 1.6vw);

            // @media (max-width: 1440px) { 
            //   font-size: calc(7px + 0.5vw);
            //   line-height: calc(7px + 1.2vw);          
            // }
            @media (max-width: 1024px) { 
              font-size: calc(16px + 0.9vw);    
              line-height: calc(16px + 1.6vw);
            }

            @media (max-width: 590px) { 
              font-size: calc(13px + 0.9vw);    
              line-height: calc(13px + 1.6vw);
            }

            @media (max-width: 414px) { 
              font-size: calc(10px + 0.9vw);    
              line-height: calc(10px + 1.6vw);
            }
            @media (max-width: 360px) { 
              font-size: calc(8px + 0.9vw);    
              line-height: calc(8px + 1.6vw);
            }
            
          }
        }
       }

       .score {
        display: flex;  
        flex-direction: column;
        text-align: center;
        span {
          &:first-child {
            text-align: left;
            // font: Regular 18px/27px Poppins;
            letter-spacing: 0px;
            color: #424242;
            opacity: 0.56;
            font-family: PoppinsRegular;            
            font-size: calc(10px + .4vw);
            line-height: calc(10px + .9vw);

            // @media (max-width: 1440px) { 
            //   font-size: calc(6px + .4vw);
            //   line-height: calc(6px + .9vw);
            // }
            @media (max-width: 1024px) { 
              font-size: calc(14px + .4vw);
              line-height: calc(14px + .9vw);
            }
            @media (max-width: 590px) { 
              font-size: calc(10px + .4vw);
              line-height: calc(10px + .9vw);
            }
            @media (max-width: 414px) { 
              font-size: calc(9px + .4vw);
              line-height: calc(9px + .9vw);
            }

            @media (max-width: 360px) { 
              font-size: calc(7px + .4vw);
              line-height: calc(7px + .9vw);
            }
          }

          &:nth-child(2) {
            margin-top: 10px;
            font-weight: 600;
            text-align: center;
            // font: SemiBold 28px/42px Poppins;
            letter-spacing: 0px;
            color: #424242;
            opacity: 1;
            font-family: PoppinsSemiBold;
            font-size: calc(11px + 0.9vw);    
            line-height: calc(11px + 1.6vw);
            // @media (max-width: 1440px) { 

            // font-size: calc(7px + 0.5vw);
            //   line-height: calc(7px + 1.2vw); 
            // }
            @media (max-width: 1024px) { 
              font-size: calc(16px + 0.9vw);    
              line-height: calc(16px + 1.6vw);
            }
            
            @media (max-width: 590px) { 
              font-size: calc(13px + 0.9vw);    
              line-height: calc(13px + 1.6vw);
            }

            @media (max-width: 414px) { 
              font-size: calc(10px + 0.9vw);    
              line-height: calc(10px + 1.6vw);
            }
          }
        }
       }

       .new-player-one {
         box-sizing: border-box;
        width: 100%;
        // padding-top: 14px;
        padding-bottom: 1.5%;
        
        // padding-left: 14px;
        margin-bottom: 10px;
        background: #DCF6E4 0% 0% no-repeat padding-box;
        border: 1px solid #70707026;
        border-radius: 15px;
        opacity: 1;

        display: flex;
        align-items: center;

        @media (max-width: 1024px) { 
          padding: 1% 5%;
          width: 80%;
          margin: 0 auto;
          margin-bottom: 5px;
          
        }
        .player-one-image {

          border: .8vw solid transparent; 

          @media (max-width: 1024px) { 
            border: 1.2vw solid transparent; 
          }

          @media (max-width: 414px) { 
            border: 1.2vw solid transparent; 
          }

        }

        .active-player {
          border: .8vw solid rgb(255, 162, 0); 

          @media (max-width: 1024px) { 
            border: 1.2vw solid rgb(255, 162, 0);
          }
        }
       

        .player-one-image,
        .player-two-image {         
          display: block;
          background-color: transparent;
          border-radius: 50%;
          margin-right: 3%;

          @media (max-width: 1024px) { 
            margin-right: 6%;
          }

          // .active-player {
          //   @media (max-width: 1440px) { 
          //     border: 0.6vw solid rgb(255, 162, 0)!important
          //   }

          // }
          span {
            height: 4.167vw;
            width: 4.167vw;
            display: block;
            // margin-left: ; 
            // padding-left: 10px;           
            border: .8vw solid #37AC5D;
            border-radius: 50%;
            box-shadow: inset 3px 3px 4px #707070;
            box-shadow: inset 3px 3px 3px #37ac5d, inset 1px 2px 2px #707070, 2px 3px 1px #37ac5d, 2px 3px 1px #707070;
            text-align: center;

            @media (max-width: 1440px) { 
              height: 3.167vw;
               width: 3.167vw;
    //            height: 2.167vw;
    // width: 2.167vw;
            }
            @media (max-width: 1024px) { 
              border: 1.2vw solid #37AC5D;
              box-shadow: inset 3px 3px 3px #37ac5d, inset 1px 2px 2px #707070;
              box-shadow: inset 1px 1px 3px #37ac5d, inset 1px 2px 2px #707070;
              height: 10.167vw;
              width: 10.167vw;

            }

            img {
              // margin-left: 17px;
              height: 87.5%;
              width: 66.25%;
              margin-top: 7px;

              @media (max-width: 1024px) { 
                margin-top: 2px;
              }
            }
          }
        }
      }

      .new-player-two {
        box-sizing: border-box;
        padding-bottom: 1.5%;

        // padding-left: 14px;
        // margin-bottom: 10px;
        align-items: center;
        background: #F6EFD5 0% 0% no-repeat padding-box;
        // background: #F6EFD5 0% 0% no-repeat padding-box;
        border: 1px solid #70707026;
        border-radius: 15px;
        opacity: 1; 
        display: flex;

        @media (max-width: 1024px) { 
          padding: 1% 5%;
          width: 80%;
          margin: 0 auto;
          margin-bottom: 5px;
        }

        .player-two-image {
          border: .8vw solid transparent; 
          
          @media (max-width: 1024px) { 
            border: 1.2vw solid transparent;           
          }
          @media (max-width: 414px) { 
            border: 1.2vw solid transparent; 
          }
        }
        .active-player {
          border: .8vw solid rgb(255, 162, 0);

          @media (max-width: 1440px) { 
            border: .8vw solid rgb(255, 162, 0);
          }

          @media (max-width: 1024px) { 
            border: 1.2vw solid rgb(255, 162, 0);
          }
        }

        .player-two-image {
          // box-sizing: border-box;
          // width: 110px;
          // height: 110px;
          display: block;
          background-color: transparent;
          // border: 10px solid #37AC5D;
          border-radius: 50%;
          margin-right: 3%;

        
          @media (max-width: 1024px) { 
            // border: 1.2vw solid rgb(255, 162, 0)!important;
            margin-right: 6%;
          }

          
          span {
            height: 4.167vw;
            width: 4.167vw;
            display: block;
            border: .8vw solid #F8D146;
            border-radius: 50%;
            box-shadow: inset 3px 3px 4px #707070;
            // box-shadow: inset 3px 4px 3px #F8D146, inset 1px 2px 2px #707070, 2px 3px 3px #F8D146, 2px 3px 2px #707070;
            box-shadow: inset 2px 4px 2px #F8D146, inset 1px 2px 2px #707070, 2px 3px 3px #F8D146, 2px 3px 2px #707070;
            text-align: center;

            @media (max-width: 1440px) { 
              height: 3.167vw;
              width: 3.167vw;
            }

            @media (max-width: 1024px) { 
              border: 1.2vw solid #F8D146;
              box-shadow: inset 2px 4px 2px #F8D146, inset 1px 2px 2px #707070;
              height: 10.167vw;
              width: 10.167vw;
            }

            @media (max-width: 414px) { 
              box-shadow: inset 1px 2px 2px #F8D146, inset 1px 2px 2px #707070;
            }

            img {
              // margin-left: 17px;
              height: 87.5%;
              width: 77.5%;
              margin-top: 7px;
              @media (max-width: 1024px) { 
                margin-top: 3px;
              }
            }
          }
        }
      }

      .new-game-cta {
        // padding-top: 3%;
        margin-top: 8%;
        border-top: 1px solid #707070;
        // margin-bottom: 111px;
        display: flex;
        flex-direction: column;                

        @media (max-width: 1024px) { 
          margin-bottom: 30px;  
        }


        button {
          padding: 4% 0;
          font-size: calc(15px + .9vw);
          line-height: calc(15px + 1.7vw);          
          font-family: PoppinsMedium;

          @media (max-width: 1680px) { 
            font-size: calc(12px + .9vw);
            line-height: calc(12px + 1.7vw); 
            padding: 20px 0;
          }

          @media (max-width: 1680px) { 
            padding: 10px 0;
          }

          @media (max-width: 1440px) { 
            font-size: calc(9px + .6vw);
            // font-size: calc(9px + 1vw);
          }

          @media (max-width: 1280px) {             
            padding: 10px 0;
          }
  
        

          &:first-child {
            margin-top: 8%;
            margin-bottom: 6%;
            background: #4B7BFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid #70707026;
            border-radius: 20px;
            opacity: 1;
            text-align: center;
            font: Medium 32px/48px Poppins;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;

            @media (max-width: 1440px) { 
              padding: 2px 0;
              border-radius: 15px;
            }

            @media (max-width: 1024px) { 
              padding: 10px 0;
              font-size: calc(16px + .9vw);
              line-height: calc(16px + 1.7vw);
            }

            @media (max-width: 414px) { 
              border-radius: 10px;
              //padding: 10px 0;      
                margin-top: 5%;

              font-size: calc(12px + .9vw);
              line-height: calc(12px + 1.7vw); 
            }

          }

          &:nth-child(2) {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid #4B7BFF26;
            border-radius: 20px;
            opacity: 1;
            text-align: center;
            font: Medium 32px/48px Poppins;
            letter-spacing: 0px;
            color: #CC0000;
            opacity: 1;

            @media (max-width: 1440px) { 
              padding: 2px 0;
              border-radius: 15px;
            }
             @media (max-width: 1024px) { 
              padding: 10px 0;
              font-size: calc(16px + .9vw);
              line-height: calc(16px + 1.7vw);
            }

            @media (max-width: 414px) { 
              border-radius: 10px;
              //padding: 10px 0;
              font-size: calc(12px + .9vw);
              line-height: calc(12px + 1.7vw); 
            }
          }
        }
      }
    }
  }